<!DOCTYPE html>
<html ng-app="AllGifted" ng-controller="TClassCtrl" class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>All Gifted LLC</title>
    <!--<link rel="apple-touch-icon" href="../../../Assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="../../../Assets/images/favicon.ico">-->
    <link rel="icon"
          type="image/png"
          href="../../../Assets/images/faith.png">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../../Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../Assets/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="../../../Assets/css/site.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="../../../Assets/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="../../../Assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="../../../Assets/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="../../../Assets/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="../../../Assets/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="../../../Assets/vendor/flag-icon-css/flag-icon.css">
    <!-- Plugins For This Page -->
    <link rel="stylesheet" href="../../../Assets/vendor/chartist-js/chartist.css">
    <link rel="stylesheet" href="../../../Assets/vendor/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../../../Assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="../../../Assets/css/please-wait.css">
    <link rel="stylesheet" href="../../../Assets/css/pace-theme-bounce.css">
    <link rel="stylesheet" href="../../../Assets/css/spinkit.css">
    <link rel="stylesheet" href="../../../Assets/css/9-cube-grid.css" />
    <!-- Page -->
    <link rel="stylesheet" href="../../../Assets/examples/css/dashboard/v1.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="../../../Assets/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="../../../Assets/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link rel="stylesheet" href="../../../Assets/fonts/weather-icons/weather-icons.css">
    <script type="text/javascript" src="//cdn.auth0.com/js/lock-9.0.js"></script>
    <!-- Scripts -->
    <script src="../../../Assets/vendor/modernizr/modernizr.js"></script>
    <script src="../../../Assets/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="dashboard blank" id="body">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center">
                <img class="navbar-brand-logo" src="../../../Assets/images/logo.png" title="Remark">
                <span class="navbar-brand-text"> ALL GIFTED</span>
            </div>
        </div>
        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="hidden-float" id="toggleMenubar">
                        <a data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false"
                           data-animation="scale-up" role="button">
                            <i class="icon wb-bell" aria-hidden="true"></i>
                            <span class="badge badge-danger up" ng-show="notifyshow()">{{namount}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                            <li class="dropdown-menu-header" role="presentation">
                                <h5>ACTIVITIES</h5>
                                <span class="label label-round label-danger">New {{namount}}</span>
                            </li>
                            <li class="list-group" role="presentation">
                                <div data-role="container">
                                    <div data-role="content">
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem" ng-repeat="notif in notification">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-book bg-red-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">{{notif.name}}</h6>
                                                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">{{notif.days}} days {{notif.hours}} hours {{notif.minutes}} minutes ago</time>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-menu-footer" role="presentation">
                                <a href="javascript:void(0)" role="menuitem">
                                    All Activities
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="scale-up" role="button">
                            <i class="icon wb-user bg-blue-800 white icon-circle" aria-hidden="true"></i> {{username}}
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a ng-href="{{tpf}}" target="_self" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> My Profile</a>
                            </li>
                            <li class="divider" role="presentation"></li>
                            <li role="presentation" ng-click="logout()">
                                <a href="login.html" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>
    <div class="site-menubar">
        <div class="site-menubar-body" style="height:100%;">
            <div>
                <div>
                    <ul class="site-menu">
                        <li class="site-menu-category">Main Menu</li>
                        <li class="site-menu-item">
                            <a ng-href="{{tdb}}" target="_self" data-slug="dashboard">
                                <i class="site-menu-icon wb-home" aria-hidden="true"></i>
                                <span class="site-menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon wb-star" aria-hidden="true"></i>
                                <span class="site-menu-title">Score Boards</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" ng-href="{{tgl}}" target="_self">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Game Leader</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" ng-href="{{taa}}" target="_self">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Academic Achievers</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item has-sub active open" ng-show="classshow()">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon wb-book" aria-hidden="true"></i>
                                <span class="site-menu-title">My Classes</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item" ng-repeat="class in currentclass">
                                    <a class="animsition-link" ng-click="movetomyclass(class.id)" target="_self">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">{{class.house}}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item has-sub" ng-show="assignmentshow()">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon wb-pencil" aria-hidden="true"></i>
                                <span class="site-menu-title">My Assignments</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" ng-href="{{tas}}" target="_self">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Assignment A</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" ng-href="{{tas}}" target="_self">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Assignment B</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" ng-href="{{tas}}" target="_self">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Assignment C</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon wb-graph-up" aria-hidden="true"></i>
                                <span class="site-menu-title">Performance</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" ng-href="{{top}}" target="_self">
                                        <i class="site-menu-icon" aria-hidden="true"></i>
                                        <span class="site-menu-title">Overall Performance</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" ng-href="{{trb}}" target="_self">
                                        <i class="site-menu-icon" aria-hidden="true"></i>
                                        <span class="site-menu-title">Results Breakdown</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" ng-href="{{tsr}}" target="_self">
                                        <i class="site-menu-icon" aria-hidden="true"></i>
                                        <span class="site-menu-title">Student Radar</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="site-menu-item">
                            <a ng-href="{{tac}}" target="_self">
                                <i class="site-menu-icon wb-library" aria-hidden="true"></i>
                                <span class="site-menu-title">View All Courses</span>
                            </a>
                        </li>

                        <li class="site-menu-item">
                            <a ng-href="{{tmu}}" target="_self">
                                <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                                <span class="site-menu-title">Manage Users</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a ng-href="{{tmco}}" target="_self">
                                <i class="site-menu-icon wb-bookmark" aria-hidden="true"></i>
                                <span class="site-menu-title">Manage Courses</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a ng-href="{{tmcl}}" target="_self">
                                <i class="site-menu-icon wb-book" aria-hidden="true"></i>
                                <span class="site-menu-title">Manage Classes</span>
                            </a>
                        </li>
                        <!--<li class="site-menu-item">
                            <a ng-href="{{tmg}}" target="_self">
                                <i class="site-menu-icon wb-globe" aria-hidden="true"></i>
                                <span class="site-menu-title">Manage Games</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a ng-href="{{tma}}" target="_self">
                                <i class="site-menu-icon wb-pencil" aria-hidden="true"></i>
                                <span class="site-menu-title">Manage Assignments</span>
                            </a>
                        </li>-->
                        <li class="site-menu-item">
                            <a ng-href="{{trp}}" target="_self">
                                <i class="site-menu-icon wb-pie-chart" aria-hidden="true"></i>
                                <span class="site-menu-title">Reports</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon wb-settings" aria-hidden="true"></i>
                                <span class="site-menu-title">Settings</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" ng-href="{{tpm}}" target="_self">
                                        <i class="site-menu-icon" aria-hidden="true"></i>
                                        <span class="site-menu-title">Payments</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" ng-href="{{tal}}" target="_self">
                                        <i class="site-menu-icon" aria-hidden="true"></i>
                                        <span class="site-menu-title">Audit Log</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" ng-href="{{tss}}" target="_self">
                                        <i class="site-menu-icon" aria-hidden="true"></i>
                                        <span class="site-menu-title">System Settings</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade modal-primary" id="exampleFormModal" aria-hidden="false" aria-labelledby="exampleFormModalLabel"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <form class="modal-content form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleFormModalLabel">Students Attempted Quiz</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <p>Total Students Attempted Quiz: 100</p>
                            </div>
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true">
                                    <thead>
                                        <tr class="bg-blue-100">
                                            <th>Name</th>
                                            <th>Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Student A</td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>Student B</td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>Student C</td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>Student D</td>
                                            <td>300</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal -->
    <!-- Modal -->
    <div class="modal fade modal-primary" id="detailModal" aria-hidden="false" aria-labelledby="detailModal"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <form class="modal-content form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleFormModalLabel">Questions Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-hover table-condensed table-bordered" data-striped="true" data-height="250" data-mobile-responsive="true">
                                    <thead>
                                        <tr class="bg-blue-100">
                                            <th>Question</th>
                                            <th>Attempted</th>
                                            <th>Correct</th>
                                            <th>Wrong</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Question A</td>
                                            <td>100</td>
                                            <td>70</td>
                                            <td>30</td>
                                        </tr>
                                        <tr>
                                            <td>Question B</td>
                                            <td>100</td>
                                            <td>70</td>
                                            <td>30</td>
                                        </tr>
                                        <tr>
                                            <td>Question C</td>
                                            <td>100</td>
                                            <td>70</td>
                                            <td>30</td>
                                        </tr>
                                        <tr>
                                            <td>Question D</td>
                                            <td>100</td>
                                            <td>70</td>
                                            <td>30</td>
                                        </tr>
                                        <tr>
                                            <td>Question E</td>
                                            <td>100</td>
                                            <td>70</td>
                                            <td>30</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal -->
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Course Breakdown</h1>
            <ol class="breadcrumb">
                <li><a ng-href="{{tdb}}">Dashboard</a></li>
                <li>My Classes</li>
                <li class="active">{{classname}}</li>
            </ol>
        </div>

        <div class="page-content">
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="well">
                        <h4>My Course Progress</h4>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="progress progress-lg">
                                    <div class="progress-bar progress-bar-striped active" aria-valuenow="90" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 90%" role="progressbar">Average Quizzes Completed: 90% of all Quizzes in this Course</div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <p>Your Average Score for this Course is 300.</p>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="button" class="btn btn-lg btn-icon btn-primary">
                                    <i class="icon wb-users" aria-hidden="true"></i> View Students Results
                                </button>
                                <button type="button" class="btn btn-lg btn-icon btn-primary">
                                    <i class="icon wb-eye" aria-hidden="true"></i> View Detail Results
                                </button>
                            </div>
                        </div>
                    </div>
                    <h4>Course Tracks</h4>
                    <div class="row form-group">
                        <form>
                            <div class="input-search input-search-dark">
                                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                                <input type="text" class="form-control" name="" placeholder="Search by Tracks or Skills">
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-xlg-12 col-md-12">
                            <!-- Table -->
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Track</th>
                                                <th>Skills</th>
                                                <th>Status</th>
                                                <!--<th>Actions</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tns in trackandskill">
                                                <td rowspan="{{tns.crowspan}}" ng-show="tns.first == 1">{{tns.number}}</td>
                                                <td rowspan="{{tns.crowspan}}" ng-show="tns.first == 1">{{tns.ctrack}}</td>
                                                <td>{{tns.cskill}}</td>
                                                <td>{{tns.cstatus}}</td>
                                                <!--<td>
                                                    <button type="button" class="btn btn-xs btn-icon btn-primary" data-target="#exampleFormModal" data-toggle="modal">
                                                        <i class="icon wb-users" aria-hidden="true"></i> Students
                                                    </button>
                                                    <button type="button" class="btn btn-xs btn-icon btn-primary" data-target="#detailModal" data-toggle="modal">
                                                        <i class="icon wb-eye" aria-hidden="true"></i> Details
                                                    </button>
                                                </td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- End Table -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Page -->
    <!-- Footer -->
    <footer class="site-footer">
        <span class="site-footer-legal">All Gifted LLC © 2016</span>
    </footer>
	<script src="../../../Assets/js/please-wait.js"></script>
	<script type="text/javascript">
      window.loading_screen = window.pleaseWait({
                logo: "../../../Assets/images/logo.png",
                backgroundColor:'#ffffff',
                //backgroundColor: '#66fee3',
                loadingHtml: "<div class='sk-cube-grid'><div class='sk-cube sk-cube1'></div><div class='sk-cube sk-cube2'></div><div class='sk-cube sk-cube3'></div><div class='sk-cube sk-cube4'></div><div class='sk-cube sk-cube5'></div><div class='sk-cube sk-cube6'></div><div class='sk-cube sk-cube7'></div><div class='sk-cube sk-cube8'></div><div class='sk-cube sk-cube9'></div></div></div><p style='color:#000000;'>Please wait for awhile for data loading</p>"
      });
    </script>
    <!-- angular -->
    <script src="../../../Assets/angular/angular-core/angular.js"></script>
    <script src="../../../Assets/angular/angular-core/angular-animate.js"></script>
    <script src="../../../Assets/angular/angular-core/angular-route.js"></script>
    <script src="../../../Assets/angular/angular-core/angular-sanitize.js"></script>
    <script src="../../../Assets/angular/angular-core/angular-cookies.js"></script>
    <script src="../../../Assets/angular/vendor/angular-agility.min.js"></script>
    <script src="../../../Assets/angular/vendor/xeditable.js"></script>
    <script src="../../../Assets/angular/vendor/angular-loading-bar.js"></script>
    <script src="../../../Assets/angular/vendor/jcs-auto-validate.min.js"></script>
    <script src="../../../Assets/angular/vendor/ng-csv.min.js"></script>
    <script src="../../../Assets/angular/vendor/autocomplete.js"></script>
    <script src="../../../Assets/angular/vendor/dirPagination.js"></script>
    <script src="../../../Assets/angular/angular-ui/angular-ui-router.js"></script>
    <script src="../../../Assets/angular/angular-ui/ui-bootstrap.js"></script>
    <script src="../../../Assets/angular/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="../../../Assets/angular/angular-ui/ui-utils.js"></script>
    <script src="../../../Assets/angular/angular-ui/ui-utils-ieshiv.js"></script>

    <!-- Auth0's Angular SDK Library -->

    <script type="text/javascript" src="//cdn.auth0.com/w2/auth0-angular-4.2.6.js"></script>
    <!-- Angular wrapper for localStorage and sessionStorage. Defaults to ng-cookies if not available -->
    <script src="http://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js" type="text/javascript"> </script>
    <!-- Angular wrapper library for JWT-->
    <script src="http://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js" type="text/javascript"> </script>
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#body').removeClass('blank');
		})
	</script>
    <script src="../../../Controller/AllGiftedCtrl.js"></script>
    <script src="../../../Controller/Core/Core.js"></script>
    <script src="../../../Controller/Stateprovider/SAccess.js"></script>
    <script src="../../../Controller/AccessController/LoginCtrl.js"></script>
    <script src="../../../Controller/AccessController/ForgotPasswordCtrl.js"></script>
    <script src="../../../Controller/AccessController/RegisterCtrl.js"></script>
    <script src="../../../Controller/Stateprovider/SStudent.js"></script>
    <script src="../../../Controller/Service/StudentSvc.js"></script>
    <script src="../../../Controller/StudentController/SAcademicAchieversCtrl.js"></script>
    <script src="../../../Controller/StudentController/SAllClassesCtrl.js"></script>
    <script src="../../../Controller/StudentController/SAssignmentCtrl.js"></script>
    <script src="../../../Controller/StudentController/SClassCtrl.js"></script>
    <script src="../../../Controller/StudentController/SDashboardCtrl.js"></script>
    <script src="../../../Controller/StudentController/SGameLeaderCtrl.js"></script>
    <script src="../../../Controller/StudentController/SProfileCtrl.js"></script>
    <script src="../../../Controller/StudentController/ResultsCtrl.js"></script>
    <script src="../../../Controller/Stateprovider/STeacher.js"></script>
    <script src="../../../Controller/Service/TeacherSvc.js"></script>
    <script src="../../../Controller/TeacherController/AddAssignmentCtrl.js"></script>
    <script src="../../../Controller/TeacherController/AddClassCtrl.js"></script>
    <script src="../../../Controller/TeacherController/AddClassTrackCtrl.js"></script>
    <script src="../../../Controller/TeacherController/AddClassTrackSkillCtrl.js"></script>
    <script src="../../../Controller/TeacherController/AddClassTrackSkillQuestionCtrl.js"></script>
    <script src="../../../Controller/TeacherController/AddCourseCtrl.js"></script>
    <script src="../../../Controller/TeacherController/AddCourseTrackCtrl.js"></script>
    <script src="../../../Controller/TeacherController/AddCourseTrackSkillCtrl.js"></script>
    <script src="../../../Controller/TeacherController/AddCourseTrackSkillQuestionCtrl.js"></script>
    <script src="../../../Controller/TeacherController/AddGameCtrl.js"></script>
    <script src="../../../Controller/TeacherController/AddUserCtrl.js"></script>
    <script src="../../../Controller/TeacherController/AuditLogsCtrl.js"></script>
    <script src="../../../Controller/TeacherController/EditAssignmentCtrl.js"></script>
    <script src="../../../Controller/TeacherController/EditClassCtrl.js"></script>
    <script src="../../../Controller/TeacherController/EditClassTrackCtrl.js"></script>
    <script src="../../../Controller/TeacherController/EditClassTrackSkillCtrl.js"></script>
    <script src="../../../Controller/TeacherController/EditClassTrackSkillQuestionCtrl.js"></script>
    <script src="../../../Controller/TeacherController/EditCourseCtrl.js"></script>
    <script src="../../../Controller/TeacherController/EditCourseTrackCtrl.js"></script>
    <script src="../../../Controller/TeacherController/EditCourseTrackSkillCtrl.js"></script>
    <script src="../../../Controller/TeacherController/EditCourseTrackSkillQuestionCtrl.js"></script>
    <script src="../../../Controller/TeacherController/EditGameCtrl.js"></script>
    <script src="../../../Controller/TeacherController/EditUserCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ManageAssignmentsCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ManageClassesCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ManageClassTracksCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ManageClassTrackSkillQuestionsCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ManageClassTrackSkillsCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ManageCoursesCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ManageCourseTracksCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ManageCourseTrackSkillQuestionsCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ManageCourseTrackSkillsCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ManageGamesCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ManageUsersCtrl.js"></script>
    <script src="../../../Controller/TeacherController/OverallPerformanceCtrl.js"></script>
    <script src="../../../Controller/TeacherController/PaymentsCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ReportsCtrl.js"></script>
    <script src="../../../Controller/TeacherController/ResultsBreakdownCtrl.js"></script>
    <script src="../../../Controller/TeacherController/StudentRadarCtrl.js"></script>
    <script src="../../../Controller/TeacherController/SystemSettingsCtrl.js"></script>
    <script src="../../../Controller/TeacherController/TAcademicAchieversCtrl.js"></script>
    <script src="../../../Controller/TeacherController/TAllClassesCtrl.js"></script>
    <script src="../../../Controller/TeacherController/TAssignmentCtrl.js"></script>
    <script src="../../../Controller/TeacherController/TClassCtrl.js"></script>
    <script src="../../../Controller/TeacherController/TDashboardCtrl.js"></script>
    <script src="../../../Controller/TeacherController/TGameLeaderCtrl.js"></script>
    <script src="../../../Controller/TeacherController/TProfileCtrl.js"></script>
    <!-- Core  -->
    <script src="../../../Assets/vendor/jquery/jquery.js"></script>
    <script src="../../../Assets/vendor/bootstrap/bootstrap.js"></script>
    <script src="../../../Assets/vendor/animsition/jquery.animsition.js"></script>
    <script src="../../../Assets/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="../../../Assets/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="../../../Assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="../../../Assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    <!-- Plugins -->
    <script src="../../../Assets/vendor/switchery/switchery.min.js"></script>
    <script src="../../../Assets/vendor/intro-js/intro.js"></script>
    <script src="../../../Assets/vendor/screenfull/screenfull.js"></script>
    <script src="../../../Assets/vendor/slidepanel/jquery-slidePanel.js"></script>
    <!-- Plugins For This Page -->
    <script src="../../../Assets/vendor/skycons/skycons.js"></script>
    <!--<script src="../../../Assets/vendor/chartist-js/chartist.min.js"></script>
    <script src="../../../Assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js"></script>-->
    <script src="../../../Assets/vendor/aspieprogress/jquery-asPieProgress.min.js"></script>
    <script src="../../../Assets/vendor/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../../../Assets/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js"></script>
    <script src="../../../Assets/vendor/matchheight/jquery.matchHeight-min.js"></script>
    <!-- Scripts -->
    <script src="../../../Assets/js/core.js"></script>
    <script src="../../../Assets/js/site.js"></script>
    
    <script src="../../../Assets/js/sections/menu.js"></script>
    <script src="../../../Assets/js/sections/menubar.js"></script>
    <script src="../../../Assets/js/sections/gridmenu.js"></script>
    <script src="../../../Assets/js/sections/sidebar.js"></script>
    <script src="../../../Assets/js/configs/config-colors.js"></script>
    <script src="../../../Assets/js/configs/config-tour.js"></script>
    <script src="../../../Assets/js/components/asscrollable.js"></script>
    <script src="../../../Assets/js/components/animsition.js"></script>
    <script src="../../../Assets/js/components/slidepanel.js"></script>
    <script src="../../../Assets/js/components/switchery.js"></script>
    <!-- Scripts For This Page -->
    <script src="../../../Assets/js/components/matchheight.js"></script>
    <script src="../../../Assets/js/components/jvectormap.js"></script>
    <script src="../../../Assets/examples/js/dashboard/v1.js"></script>

</body>
</html>